/*Este selector afecta a todos los elementos del documento HTML*/

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
}

h2 {
    margin-bottom: 30px;
    font-size: 25px;
}

h2::after {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    margin-top: 5px;
    background-color: orange;
    position: absolute;
}

main section {
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: orange;
}

p {
    color: gray;
}

::selection {
    background-color: orange;
    color: white;
}

div #headerHello {
    color: red;
}

#contenidoHeader>p {
    color: green;
}

#contenidoHeader+p {
    color: blue;
}


/* CLASES GENERALES */

.botonBlanco {
    width: 125px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.botonNaranja {
    width: 125px;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
    color: orange;
    text-align: center;
}

.botonNaranjaRelleno {
    width: 125px;
    padding: 10px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.botonAzulRelleno {
    width: 125px;
    padding: 10px;
    background-color: #102027;
    border: 2px solid #102027;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.textShort {
    width: 50%;
}


/* HEADER */

header {
    background: url("https://i.pinimg.com/originals/c4/d3/f0/c4d3f022d1b6912b237fb72f910ddfff.jpg");
    background-size: auto 300px;
    height: 300px;
}

#contenidoHeader {
    width: 80%;
    padding-top: 50px;
    padding-left: 10%;
}

#headerHello {
    color: grey;
}

header h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

#headerDescription {
    font-size: 30px;
    color: darkslategray;
    padding-bottom: 25px;
}

header a {
    padding: 10px;
    border: 2px solid white;
    color: white;
}


/* About Me */

#aboutMe {
    display: flex;
}

#aboutMeLeft {
    width: 40%;
}

#aboutMeLeft img {
    width: 200;
    height: 300px;
}

#aboutMeRight {
    width: 70%;
}

#aboutMe p {
    padding-bottom: 25px;
}

#aboutMe a {
    margin-right: 10px;
}


/* Services */

#servicesDescription {
    padding-bottom: 25px;
}


/* Latest Work */

#latestWorkDescription {
    padding-bottom: 20px;
}

#latestWorkExamples {
    text-align: center;
}

#latestWorkExamples img {
    padding: 5%;
}


/* Experiences */

#experiencesExamples {
    display: grid;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 100px;
}

.experienceHeader {
    padding-top: 25px;
    padding-bottom: 25px;
}

.experienceHeader h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

#experience1 {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: orange;
}

#experience1 p {
    color: #102027;
}

#experience2 {
    grid-column-start: 2;
    grid-column-end: 2;
}

#experience3 {
    grid-column-start: 3;
    grid-column-end: 3;
}

#experiencesExamples article {
    border: solid 1px lightgray;
    padding: 25px;
}


/* Contact */

#contact {
    margin: 0;
    text-align: center;
    background: url("https://stmed.net/sites/default/files/orange-wallpapers-25269-5792868.png");
}

#contactTitle {
    padding-top: 20px;
    color: #101f27;
}

#contactButton {
    padding-bottom: 25px;
}

#contact h2::after {
    height: 0px;
}


/* Footer */

footer {
    text-align: center;
}

footer p {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
}