/*Este selector afecta a todos los elementos del documento HTML*/

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: gray;
}

main {
    top: 0;
}

h2 {
    margin-bottom: 20px;
    font-size: 25px;
    color: #263238;
}


/* Barra inferior h2 */

h2::after {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    margin-top: 5px;
    background-color: orange;
    position: absolute;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: orange;
}

section:not(:first-child),
section:nth-child(6) {
    width: 65vw;
    margin: 0 auto;
    margin-top: 30px;
}


/* CLASES GENERALES */

.textShort {
    width: 70%;
}

.botonera {
    display: flex;
    padding-top: 2%;
    text-align: center;
}

.botonera *:first-child {
    margin-left: 0px;
}

.botonera * {
    margin-left: 10px;
}

.botonBlanco {
    border: 1.5px solid white;
    border-radius: 5px;
    padding: 7px;
    color: white;
    text-align: center;
}

.botonNaranja {
    padding: 7px;
    border: 1.5px solid orange;
    border-radius: 5px;
    color: orange;
    text-align: center;
}

.botonNaranjaRelleno {
    padding: 7px;
    background-color: orange;
    border: 1.5px solid orange;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.botonAzulRelleno {
    padding: 7px;
    background-color: #102027;
    border: 1.5px solid #102027;
    border-radius: 5px;
    color: white;
    text-align: center;
}


/* === HEADER === */


/* MENU BAR */

header {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 40px;
    background-color: transparent;
}

header a {
    position: absolute;
    right: 0;
}


/* === WHOIAM === */

#whoIAm {
    background: url("https://i.pinimg.com/originals/c4/d3/f0/c4d3f022d1b6912b237fb72f910ddfff.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}

#whoIAmContent {
    position: absolute;
    background-color: transparent;
    margin-top: 5%;
    margin-left: 5%;
}

#whoIAmContent * {
    position: relative;
    margin: 10px;
}

#whoIAmContentText :nth-child(1) {
    font-size: 1.3em;
    color: gainsboro;
}

#whoIAmContentText :nth-child(2) {
    font-size: 3em;
    color: beige;
}

#whoIAmContentText :nth-child(3) {
    font-size: 1.4em;
    color: darkslategray;
}


/* === ABOUT ME === */

#aboutMe {
    display: flex;
}

#aboutMeLeft {
    position: relative;
}

#aboutMeRight {
    position: relative;
    padding-left: 30px;
}


/* === SERVICES === */

#services div:nth-child(2) {
    background-color: blue;
    margin-top: 30px;
    display: grid;
}

#services div article {
    background-color: red;
    border-radius: 20px;
}

#services article:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

#services article:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
}